{% extends "layout.html" %}
{% block main_content %}
{% block title %}
{% endblock %}
<div class="ms-5 mt-5">
    <section>
        <h1>¿Como funciona?</h1>
        <article class="ms-4 fs-6">
            El funcionamiento de esta distribucion es un poco distante al de las distribuciones que conocemos hoy en día, esto debido a que esta pensada para hacer pruebas.<br>
            Con el funcionamiento distante, cabe recalcar, que se refiere a la forma de "instalar la máquina"

        </article>
    </section>
</div>
{% endblock %}